In [2]:
import os
import boto3 
import pandas as pd

In [2]:
bucket_name = 'advanced-ml-project' # Add your bucket name
file_name = 'sessions_test.csv'
s3 = boto3.client('s3')
obj = s3.get_object(Bucket=bucket_name, Key=file_name) # S3 uses key-value structure where key is your file name
df_test = pd.read_csv(obj['Body'])
df_test.head()

,Unnamed: 0,session_id,timezone,timezone_offset,previous_sessions_duration,is_user_first_session,is_session,country,region,city,...,locale,os_name,session_index,device_id,user_id_hash,start_dow,start_hour,start_date,create_date,create_session_time
0,0,5558845121177764917,Asia/Manila,28800000.0,25837591,False,True,PH,00,makati,...,en_GB,Android OS,30,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,3,1,2018-11-15,2018-10-07,39
1,1,2201961907282901522,Asia/Manila,28800000.0,35050130,False,True,PH,00,quezon city,...,en_GB,Android OS,47,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,9,2018-12-02,2018-10-07,56
2,2,18781111175537580,Asia/Manila,28800000.0,11343848,False,True,PH,00,makati,...,en_GB,Android OS,10,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,3,7,2018-10-11,2018-10-07,4
3,3,1477540082628742048,Asia/Manila,28800000.0,13499724,False,True,PH,11,davao city,...,en_GB,Android OS,13,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,19,2018-10-21,2018-10-07,14
4,4,8184875317380844086,Asia/Manila,28800000.0,32788010,False,True,PH,00,makati,...,en_GB,Android OS,41,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,1,7,2018-11-20,2018-10-07,44

### Time_stamp

* aggregate features - user-level

In [3]:
df_test = df_test.drop(['Unnamed: 0'], axis=1)

In [4]:
df_test.head()

,session_id,timezone,timezone_offset,previous_sessions_duration,is_user_first_session,is_session,country,region,city,latitude,...,locale,os_name,session_index,device_id,user_id_hash,start_dow,start_hour,start_date,create_date,create_session_time
0,5558845121177764917,Asia/Manila,28800000.0,25837591,False,True,PH,00,makati,14.554729,...,en_GB,Android OS,30,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,3,1,2018-11-15,2018-10-07,39
1,2201961907282901522,Asia/Manila,28800000.0,35050130,False,True,PH,00,quezon city,14.676041,...,en_GB,Android OS,47,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,9,2018-12-02,2018-10-07,56
2,18781111175537580,Asia/Manila,28800000.0,11343848,False,True,PH,00,makati,14.554729,...,en_GB,Android OS,10,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,3,7,2018-10-11,2018-10-07,4
3,1477540082628742048,Asia/Manila,28800000.0,13499724,False,True,PH,11,davao city,7.190708,...,en_GB,Android OS,13,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,19,2018-10-21,2018-10-07,14
4,8184875317380844086,Asia/Manila,28800000.0,32788010,False,True,PH,00,makati,14.554729,...,en_GB,Android OS,41,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,1,7,2018-11-20,2018-10-07,44

In [5]:
pd.isnull(df_test).any()

session_id                    False
timezone                       True
timezone_offset               False
previous_sessions_duration    False
is_user_first_session         False
is_session                    False
country                        True
region                         True
city                           True
latitude                       True
longitude                      True
locale                         True
os_name                        True
session_index                 False
device_id                      True
user_id_hash                  False
start_dow                     False
start_hour                    False
start_date                    False
create_date                   False
create_session_time           False
dtype: bool

In [7]:
# get test user_id_hash from submission file
file_name = 'sample_submission_2.csv'
s3 = boto3.client('s3')
obj = s3.get_object(Bucket=bucket_name, Key=file_name) # S3 uses key-value structure where key is your file name
test_user = pd.read_csv(obj['Body'])

In [8]:
test_feature = pd.DataFrame(test_user.user_id_hash.unique(), columns=['user_id_hash'])

In [10]:
test_feature['most_freq_dow'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').start_dow.agg(lambda x: x.value_counts().index[0]))

In [11]:
test_feature['most_freq_hour'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').start_hour.agg(lambda x: x.value_counts().index[0]))

In [12]:
test_feature['median_create_session_time'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').create_session_time.median())

### session

* study more on user session properties to get duration, interval, frequency features.

In [14]:
#previous time duration/max session index

In [15]:
test_feature['session_count'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').session_index.agg(lambda x: max(x)-min(x)+1))

In [16]:
test_feature['session_durations'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').previous_sessions_duration.sum())

In [17]:
test_feature['mean_session_durations'] = test_feature.session_durations/test_feature.session_count

In [18]:
test_feature['mean_session_interval'] = test_feature.median_create_session_time/test_feature.session_count

In [ ]:
test_feature['mean_session_interval'].replace(np.inf, 0, inplace=True)

In [32]:
date_info = df_test.groupby('user_id_hash').start_date.nunique()
test_feature['active_date'] = test_feature.user_id_hash.map(date_info)
test_feature.active_date = test_feature.active_date.fillna(test_feature['active_date'].value_counts().index[0])
test_feature['session_per_active_day'] = test_feature.session_count.div(test_feature.active_date)
test_feature['purchase_per_active_day'] = test_feature.purchase_counts.div(test_feature.active_date)

In [36]:
create_time = df_test.groupby('user_id_hash').create_session_time.max()
test_feature['create_time'] = test_feature.user_id_hash.map(create_time)
test_feature.create_time = test_feature.create_time.fillna(test_feature['create_time'].value_counts().index[0])
test_feature['session_per_day'] = test_feature.session_count.div(test_feature.create_time)
test_feature['purchase_per_day'] = test_feature.purchase_counts.div(test_feature.create_time)

In [40]:
test_feature = test_feature.drop(['active_date','create_time'], axis=1)

In [43]:
test_feature.purchase_per_day  = test_feature.purchase_per_day .fillna(test_feature['purchase_per_day'].value_counts().index[0])

### geographic

* most frequent country/region/city

In [19]:
df_test.country = df_test.country.fillna('others')
df_test.region = df_test.region.fillna('others')
df_test.city = df_test.city.fillna('others')

In [20]:
test_feature['most_freq_country'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').country.agg(lambda x: x.value_counts().index[0]))
test_feature['most_freq_region'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').region.agg(lambda x: x.value_counts().index[0]))
test_feature['most_freq_city'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').city.agg(lambda x: x.value_counts().index[0]))

In [21]:
# leave local for now because it contains some error as well as some replicates en-us-us vs en-us

### device info

In [22]:
df_test.os_name = df_test.os_name.fillna('others')
test_feature['most_freq_os'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').os_name.agg(lambda x: x.value_counts().index[0]))

In [23]:
# leave device id right now

### join events info to get more features

In [26]:
file_name = 'events.csv'
s3 = boto3.client('s3')
obj = s3.get_object(Bucket=bucket_name, Key=file_name) # S3 uses key-value structure where key is your file name
event = pd.read_csv(obj['Body'])
event.head()

,app_id,session_id,event,event_timestamp,event_value,user_id_hash
0,4724682771660800,5558845121177764917,45,1542215397132,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,4724682771660800,5558845121177764917,45,1542215484895,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,4724682771660800,7689508378645584666,.m5100869650219008,1541124410372,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,4724682771660800,2201961907282901522,4,1543713091129,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,4724682771660800,2201961907282901522,6,1543713093116,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [27]:
event['label'] = event.event.apply(lambda x: 1 if x=='8' else 0)

In [28]:
df_event = event.groupby('session_id').label.sum()
df_event = df_event.reset_index()

In [29]:
df_event.head()

      session_id  label
0  2335878523933      0
1  4500999887144      0
2  4570695509066      0
3  4760632880795      0
4  6306285814587      0

In [30]:
purchase_time = event[event.label==1].groupby('session_id').event_timestamp.median()
purchase_time = purchase_time.reset_index()
purchase_time.head()

        session_id  event_timestamp
0   44097414271980    1543345213863
1  139239025219926    1543896256185
2  198661066907208    1543274061363
3  277838121971337    1540754187045
4  330581615202681    1541774849854

In [31]:
# get session level purchase count and purchase time info
df_event2 = pd.merge(df_event,purchase_time, how='left', on=['session_id'])
df_event2.head()

      session_id  label  event_timestamp
0  2335878523933      0              NaN
1  4500999887144      0              NaN
2  4570695509066      0              NaN
3  4760632880795      0              NaN
4  6306285814587      0              NaN

In [32]:
# based on session train dataframe join event train, thus we only get info before Dec
df_test2 = pd.merge(df_test,df_event2, how='left', on=['session_id'])

In [33]:
# user purchase count
test_feature['purchase_counts'] = test_feature.user_id_hash.map(df_test2.groupby('user_id_hash').label.sum())

In [34]:
# average session time if purchase 
df_test2['purchase_time'] = pd.to_datetime(df_test2.event_timestamp+df_test2.timezone_offset, unit='ms')
df_test2.head()

,session_id,timezone,timezone_offset,previous_sessions_duration,is_user_first_session,is_session,country,region,city,latitude,...,device_id,user_id_hash,start_dow,start_hour,start_date,create_date,create_session_time,label,event_timestamp,purchase_time
0,5558845121177764917,Asia/Manila,28800000.0,25837591,False,True,PH,00,makati,14.554729,...,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,3,1,2018-11-15,2018-10-07,39,0.0,NaN,NaT
1,2201961907282901522,Asia/Manila,28800000.0,35050130,False,True,PH,00,quezon city,14.676041,...,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,9,2018-12-02,2018-10-07,56,0.0,NaN,NaT
2,18781111175537580,Asia/Manila,28800000.0,11343848,False,True,PH,00,makati,14.554729,...,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,3,7,2018-10-11,2018-10-07,4,0.0,NaN,NaT
3,1477540082628742048,Asia/Manila,28800000.0,13499724,False,True,PH,11,davao city,7.190708,...,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,19,2018-10-21,2018-10-07,14,0.0,NaN,NaT
4,8184875317380844086,Asia/Manila,28800000.0,32788010,False,True,PH,00,makati,14.554729,...,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,1,7,2018-11-20,2018-10-07,44,NaN,NaN,NaT

In [35]:
df_test2['purchase_dow'] = df_test2.purchase_time.dt.dayofweek
df_test2['purchase_hour'] = df_test2.purchase_time.dt.hour

In [36]:
df_test2.head()

,session_id,timezone,timezone_offset,previous_sessions_duration,is_user_first_session,is_session,country,region,city,latitude,...,start_dow,start_hour,start_date,create_date,create_session_time,label,event_timestamp,purchase_time,purchase_dow,purchase_hour
0,5558845121177764917,Asia/Manila,28800000.0,25837591,False,True,PH,00,makati,14.554729,...,3,1,2018-11-15,2018-10-07,39,0.0,NaN,NaT,NaN,NaN
1,2201961907282901522,Asia/Manila,28800000.0,35050130,False,True,PH,00,quezon city,14.676041,...,6,9,2018-12-02,2018-10-07,56,0.0,NaN,NaT,NaN,NaN
2,18781111175537580,Asia/Manila,28800000.0,11343848,False,True,PH,00,makati,14.554729,...,3,7,2018-10-11,2018-10-07,4,0.0,NaN,NaT,NaN,NaN
3,1477540082628742048,Asia/Manila,28800000.0,13499724,False,True,PH,11,davao city,7.190708,...,6,19,2018-10-21,2018-10-07,14,0.0,NaN,NaT,NaN,NaN
4,8184875317380844086,Asia/Manila,28800000.0,32788010,False,True,PH,00,makati,14.554729,...,1,7,2018-11-20,2018-10-07,44,NaN,NaN,NaT,NaN,NaN

In [37]:
test_feature['most_frequent_purchase_dow'] = test_feature.user_id_hash.map(df_test2[df_test2.label>0].groupby('user_id_hash').purchase_dow.agg(lambda x: x.value_counts().index[0]))

In [38]:
test_feature.most_frequent_purchase_dow.value_counts()

6.0    3922
3.0    3024
5.0    2561
2.0    2492
4.0    2287
1.0    2265
0.0    2053
Name: most_frequent_purchase_dow, dtype: int64

In [39]:
test_feature.most_frequent_purchase_dow = test_feature.most_frequent_purchase_dow.fillna(7)

In [40]:
test_feature.most_frequent_purchase_dow.value_counts()

7.0    293964
6.0      3922
3.0      3024
5.0      2561
2.0      2492
4.0      2287
1.0      2265
0.0      2053
Name: most_frequent_purchase_dow, dtype: int64

In [41]:
test_feature['most_frequent_purchase_hour'] = test_feature.user_id_hash.map(df_test2[df_test2.label>0].groupby('user_id_hash').purchase_hour.agg(lambda x: x.value_counts().index[0]))

In [42]:
test_feature.most_frequent_purchase_hour = test_feature.most_frequent_purchase_hour.fillna(24)

In [44]:
test_feature['purchase_perc'] = test_feature.purchase_counts/test_feature.session_count

In [45]:
test_feature.head()

,user_id_hash,most_freq_dow,most_freq_hour,median_create_session_time,session_count,session_durations,mean_session_durations,mean_session_interval,most_freq_country,most_freq_region,most_freq_city,most_freq_os,purchase_counts,most_frequent_purchase_dow,most_frequent_purchase_hour,purchase_perc
0,e469dfaed039ead9110165d9bc457acb11609ca34057dc...,5.0,10.0,0.5,2.0,713088.0,356544.0,0.250000,US,ca,elk grove,iOS,0.0,7.0,24.0,0.0
1,afcc639a324b6c598ef83d360450afa011cb2dd1358bf9...,3.0,19.0,1.0,1.0,1717320.0,1717320.0,1.000000,MX,hid,tizayuca,Android OS,0.0,7.0,24.0,0.0
2,fd5a7cf211d08e3e00f7be6a9df6e6ea3d2e5c22a5d9c3...,6.0,18.0,8.0,3.0,3041967.0,1013989.0,2.666667,US,tx,el paso,Android OS,0.0,7.0,24.0,0.0
3,00bfff98b9d0329f014c2eeac7ce47cd18b2bc6e10d608...,5.0,12.0,2.0,10.0,92005829.0,9200582.9,0.200000,ZW,ha,harare,Android OS,0.0,7.0,24.0,0.0
4,0d298f3638c43e915c119d4935e1ce8d168f81b5e3e8c1...,6.0,8.0,1.0,1.0,10441.0,10441.0,1.000000,RS,?,paracin,Android OS,0.0,7.0,24.0,0.0

In [ ]:
# add purchase amount info from event
event_test = pd.read_csv('feature_eng/filtered_events.csv')

total_amount = event_test.groupby('user_id_hash', as_index=False)['event_value'].\
    sum().rename(columns={'event_value':'total_amount'})

test_feature = pd.merge(test_feature, total_amount, how='left', on='user_id_hash')
test_feature.fillna(0, inplace=True)

### label encoding

* Use label encoding encode categorical columns

In [47]:
pd.isnull(test_feature).any()

user_id_hash                   False
most_freq_dow                   True
most_freq_hour                  True
median_create_session_time      True
session_count                   True
session_durations               True
mean_session_durations          True
mean_session_interval           True
most_freq_country               True
most_freq_region                True
most_freq_city                  True
most_freq_os                    True
purchase_counts                 True
most_frequent_purchase_dow     False
most_frequent_purchase_hour    False
purchase_perc                   True
dtype: bool

In [63]:
# fillna by most frequentist value
cols = list(test_feature.columns)
for col in cols:
    test_feature[col] = test_feature[col].fillna(test_feature[col].value_counts().index[0])

In [11]:
import numpy as np
cols = list(test_feature.columns)
for col in cols:
    test_feature[col].replace(np.inf, 0, inplace=True)

In [65]:
from sklearn.preprocessing import LabelEncoder
cols = ['most_freq_country', 'most_freq_region', 'most_freq_city', 'most_freq_os']
for col in cols:
    encoder = LabelEncoder()
    test_feature[col] = encoder.fit_transform(test_feature[col])

In [3]:
test_feature.head()

,user_id_hash,most_freq_dow,most_freq_hour,median_create_session_time,session_count,session_durations,mean_session_durations,mean_session_interval,most_freq_country,most_freq_region,...,most_freq_os,purchase_counts,most_frequent_purchase_dow,most_frequent_purchase_hour,purchase_perc,total_amount,session_per_active_day,purchase_per_active_day,session_per_day,purchase_per_day
0,e469dfaed039ead9110165d9bc457acb11609ca34057dc...,5.0,10.0,0.5,2.0,713088.0,356544.0,0.250000,207,192,...,1,0.0,7.0,24.0,0.0,0.0,1.0,0.0,2.000000,0.0
1,afcc639a324b6c598ef83d360450afa011cb2dd1358bf9...,3.0,19.0,1.0,1.0,1717320.0,1717320.0,1.000000,140,299,...,0,0.0,7.0,24.0,0.0,0.0,0.5,0.0,0.500000,0.0
2,fd5a7cf211d08e3e00f7be6a9df6e6ea3d2e5c22a5d9c3...,6.0,18.0,8.0,3.0,3041967.0,1013989.0,2.666667,207,624,...,0,0.0,7.0,24.0,0.0,0.0,1.0,0.0,0.300000,0.0
3,00bfff98b9d0329f014c2eeac7ce47cd18b2bc6e10d608...,5.0,12.0,2.0,10.0,92005829.0,9200582.9,0.200000,220,290,...,0,0.0,7.0,24.0,0.0,0.0,2.5,0.0,0.526316,0.0
4,0d298f3638c43e915c119d4935e1ce8d168f81b5e3e8c1...,6.0,8.0,1.0,1.0,10441.0,10441.0,1.000000,171,112,...,0,0.0,7.0,24.0,0.0,0.0,0.5,0.0,0.500000,0.0

In [69]:
test_feature.to_csv('feature_eng/test_feature.csv')