In [29]:
import os
import boto3 
import pandas as pd
import scipy.stats

In [2]:
bucket_name = 'advanced-ml-project' # Add your bucket name
file_name = 'sessions_test.csv'
s3 = boto3.client('s3')
obj = s3.get_object(Bucket=bucket_name, Key=file_name) # S3 uses key-value structure where key is your file name
df_test = pd.read_csv(obj['Body'])
df_test.head()

,Unnamed: 0,session_id,timezone,timezone_offset,previous_sessions_duration,is_user_first_session,is_session,country,region,city,...,locale,os_name,session_index,device_id,user_id_hash,start_dow,start_hour,start_date,create_date,create_session_time
0,0,5558845121177764917,Asia/Manila,28800000.0,25837591,False,True,PH,00,makati,...,en_GB,Android OS,30,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,3,1,2018-11-15,2018-10-07,39
1,1,2201961907282901522,Asia/Manila,28800000.0,35050130,False,True,PH,00,quezon city,...,en_GB,Android OS,47,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,9,2018-12-02,2018-10-07,56
2,2,18781111175537580,Asia/Manila,28800000.0,11343848,False,True,PH,00,makati,...,en_GB,Android OS,10,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,3,7,2018-10-11,2018-10-07,4
3,3,1477540082628742048,Asia/Manila,28800000.0,13499724,False,True,PH,11,davao city,...,en_GB,Android OS,13,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,19,2018-10-21,2018-10-07,14
4,4,8184875317380844086,Asia/Manila,28800000.0,32788010,False,True,PH,00,makati,...,en_GB,Android OS,41,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,1,7,2018-11-20,2018-10-07,44

In [3]:
bucket_name = 'advanced-ml-project' # Add your bucket name
file_name = 'test_feature2.csv'
s3 = boto3.client('s3')
obj = s3.get_object(Bucket=bucket_name, Key=file_name) # S3 uses key-value structure where key is your file name
test_feature = pd.read_csv(obj['Body'])
test_feature.head()

,user_id_hash,most_freq_dow,most_freq_hour,median_create_session_time,session_count,session_durations,mean_session_durations,mean_session_interval,most_freq_country,most_freq_region,...,most_freq_os,purchase_counts,most_frequent_purchase_dow,most_frequent_purchase_hour,purchase_perc,total_amount,session_per_active_day,purchase_per_active_day,session_per_day,purchase_per_day
0,e469dfaed039ead9110165d9bc457acb11609ca34057dc...,5.0,10.0,0.5,2.0,713088.0,356544.0,0.250000,207,192,...,1,0.0,7.0,24.0,0.0,0.0,1.0,0.0,2.000000,0.0
1,afcc639a324b6c598ef83d360450afa011cb2dd1358bf9...,3.0,19.0,1.0,1.0,1717320.0,1717320.0,1.000000,140,299,...,0,0.0,7.0,24.0,0.0,0.0,0.5,0.0,0.500000,0.0
2,fd5a7cf211d08e3e00f7be6a9df6e6ea3d2e5c22a5d9c3...,6.0,18.0,8.0,3.0,3041967.0,1013989.0,2.666667,207,624,...,0,0.0,7.0,24.0,0.0,0.0,1.0,0.0,0.300000,0.0
3,00bfff98b9d0329f014c2eeac7ce47cd18b2bc6e10d608...,5.0,12.0,2.0,10.0,92005829.0,9200582.9,0.200000,220,290,...,0,0.0,7.0,24.0,0.0,0.0,2.5,0.0,0.526316,0.0
4,0d298f3638c43e915c119d4935e1ce8d168f81b5e3e8c1...,6.0,8.0,1.0,1.0,10441.0,10441.0,1.000000,171,112,...,0,0.0,7.0,24.0,0.0,0.0,0.5,0.0,0.500000,0.0

In [11]:
test_feature = pd.read_csv('feature_eng/test_feature2.csv')

### Time_stamp

* aggregate features - user-level

In [3]:
df_test = df_test.drop(['Unnamed: 0'], axis=1)

In [4]:
df_test.head()

,session_id,timezone,timezone_offset,previous_sessions_duration,is_user_first_session,is_session,country,region,city,latitude,...,locale,os_name,session_index,device_id,user_id_hash,start_dow,start_hour,start_date,create_date,create_session_time
0,5558845121177764917,Asia/Manila,28800000.0,25837591,False,True,PH,00,makati,14.554729,...,en_GB,Android OS,30,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,3,1,2018-11-15,2018-10-07,39
1,2201961907282901522,Asia/Manila,28800000.0,35050130,False,True,PH,00,quezon city,14.676041,...,en_GB,Android OS,47,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,9,2018-12-02,2018-10-07,56
2,18781111175537580,Asia/Manila,28800000.0,11343848,False,True,PH,00,makati,14.554729,...,en_GB,Android OS,10,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,3,7,2018-10-11,2018-10-07,4
3,1477540082628742048,Asia/Manila,28800000.0,13499724,False,True,PH,11,davao city,7.190708,...,en_GB,Android OS,13,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,19,2018-10-21,2018-10-07,14
4,8184875317380844086,Asia/Manila,28800000.0,32788010,False,True,PH,00,makati,14.554729,...,en_GB,Android OS,41,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,1,7,2018-11-20,2018-10-07,44

In [5]:
pd.isnull(df_test).any()

session_id                    False
timezone                       True
timezone_offset               False
previous_sessions_duration    False
is_user_first_session         False
is_session                    False
country                        True
region                         True
city                           True
latitude                       True
longitude                      True
locale                         True
os_name                        True
session_index                 False
device_id                      True
user_id_hash                  False
start_dow                     False
start_hour                    False
start_date                    False
create_date                   False
create_session_time           False
dtype: bool

In [7]:
# get test user_id_hash from submission file
file_name = 'sample_submission_2.csv'
s3 = boto3.client('s3')
obj = s3.get_object(Bucket=bucket_name, Key=file_name) # S3 uses key-value structure where key is your file name
test_user = pd.read_csv(obj['Body'])

In [8]:
test_feature = pd.DataFrame(test_user.user_id_hash.unique(), columns=['user_id_hash'])

In [10]:
test_feature['most_freq_dow'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').start_dow.agg(lambda x: x.value_counts().index[0]))

In [11]:
test_feature['most_freq_hour'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').start_hour.agg(lambda x: x.value_counts().index[0]))

In [12]:
test_feature['median_create_session_time'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').create_session_time.median())

In [29]:
def ent(data):
    p_data = data.value_counts()/len(data)  # calculates the probabilities
    # input probabilities to get the entropy
    entropy = scipy.stats.entropy(p_data)
    return entropy

In [32]:
test_feature['user_entropy'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').session_id.apply(ent))

In [33]:
test_feature.head()

,user_id_hash,most_freq_dow,most_freq_hour,median_create_session_time,session_count,session_durations,mean_session_durations,mean_session_interval,most_freq_country,most_freq_region,...,purchase_counts,most_frequent_purchase_dow,most_frequent_purchase_hour,purchase_perc,total_amount,session_per_active_day,purchase_per_active_day,session_per_day,purchase_per_day,user_entropy
0,e469dfaed039ead9110165d9bc457acb11609ca34057dc...,5.0,10.0,0.5,2.0,713088.0,356544.0,0.250000,207,192,...,0.0,7.0,24.0,0.0,0.0,1.0,0.0,2.000000,0.0,0.693147
1,afcc639a324b6c598ef83d360450afa011cb2dd1358bf9...,3.0,19.0,1.0,1.0,1717320.0,1717320.0,1.000000,140,299,...,0.0,7.0,24.0,0.0,0.0,0.5,0.0,0.500000,0.0,0.693147
2,fd5a7cf211d08e3e00f7be6a9df6e6ea3d2e5c22a5d9c3...,6.0,18.0,8.0,3.0,3041967.0,1013989.0,2.666667,207,624,...,0.0,7.0,24.0,0.0,0.0,1.0,0.0,0.300000,0.0,1.609438
3,00bfff98b9d0329f014c2eeac7ce47cd18b2bc6e10d608...,5.0,12.0,2.0,10.0,92005829.0,9200582.9,0.200000,220,290,...,0.0,7.0,24.0,0.0,0.0,2.5,0.0,0.526316,0.0,2.302585
4,0d298f3638c43e915c119d4935e1ce8d168f81b5e3e8c1...,6.0,8.0,1.0,1.0,10441.0,10441.0,1.000000,171,112,...,0.0,7.0,24.0,0.0,0.0,0.5,0.0,0.500000,0.0,0.693147

### session

* study more on user session properties to get duration, interval, frequency features.

In [14]:
#previous time duration/max session index

In [6]:
test_feature['session_count'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').session_index.agg(lambda x: max(x)))

In [16]:
test_feature['session_durations'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').previous_sessions_duration.sum())

In [7]:
test_feature['mean_session_durations'] = test_feature.session_durations/test_feature.session_count

In [8]:
test_feature['mean_session_interval'] = test_feature.median_create_session_time/test_feature.session_count

In [11]:
date_info = df_test.groupby('user_id_hash').start_date.nunique()
test_feature['active_date'] = test_feature.user_id_hash.map(date_info)
test_feature.active_date = test_feature.active_date.fillna(test_feature['active_date'].value_counts().index[0])
test_feature['session_per_active_day'] = test_feature.session_count.div(test_feature.active_date)
test_feature['purchase_per_active_day'] = test_feature.purchase_counts.div(test_feature.active_date)

In [12]:
create_time = df_test.groupby('user_id_hash').create_session_time.max()
test_feature['create_time'] = test_feature.user_id_hash.map(create_time)
test_feature.create_time = test_feature.create_time.fillna(test_feature['create_time'].value_counts().index[0])
test_feature['session_per_day'] = test_feature.session_count.div(test_feature.create_time)
test_feature['purchase_per_day'] = test_feature.purchase_counts.div(test_feature.create_time)

In [13]:
test_feature = test_feature.drop(['active_date','create_time'], axis=1)

In [10]:
df_test.head()

,Unnamed: 0,session_id,timezone,timezone_offset,previous_sessions_duration,is_user_first_session,is_session,country,region,city,...,os_name,session_index,device_id,user_id_hash,start_dow,start_hour,start_date,create_date,create_session_time,pred_time
0,0,5558845121177764917,Asia/Manila,28800000.0,25837591,False,True,PH,00,makati,...,Android OS,30,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,3,1,2018-11-15,2018-10-07,39,2018-12-1
1,1,2201961907282901522,Asia/Manila,28800000.0,35050130,False,True,PH,00,quezon city,...,Android OS,47,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,9,2018-12-02,2018-10-07,56,2018-12-1
2,2,18781111175537580,Asia/Manila,28800000.0,11343848,False,True,PH,00,makati,...,Android OS,10,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,3,7,2018-10-11,2018-10-07,4,2018-12-1
3,3,1477540082628742048,Asia/Manila,28800000.0,13499724,False,True,PH,11,davao city,...,Android OS,13,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,19,2018-10-21,2018-10-07,14,2018-12-1
4,4,8184875317380844086,Asia/Manila,28800000.0,32788010,False,True,PH,00,makati,...,Android OS,41,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,1,7,2018-11-20,2018-10-07,44,2018-12-1

In [17]:
df_test['start_date'] = pd.to_datetime(df_test['start_date'])
df_test ['pred_time'] = '2018-12-15'
df_test ['pred_time'] = pd.to_datetime(df_test ['pred_time'])
df_test ['date_interval'] = df_test['pred_time']-df_test['start_date']
df_test.last_session_time = df_test.date_interval.apply(lambda x: int(str(x).split(' ')[0]))

In [20]:
df_test ['pred_time'] = '2018-12-15'
df_test ['pred_time'] = pd.to_datetime(df_test ['pred_time'])
df_test ['date_interval'] = df_test['pred_time']-df_test['start_date']

In [26]:
df_test['last_session_time']= df_test.date_interval.apply(lambda x: int(str(x).split(' ')[0]))

In [28]:
df_test = df_test.drop(['pred_time','date_interval'], axis=1)

In [34]:
test_feature['last_session_time'] = test_feature.user_id_hash.map(df_test.groupby('user_id_hash').last_session_time.min())

In [14]:
test_feature.purchase_per_day  = test_feature.purchase_per_day .fillna(test_feature['purchase_per_day'].value_counts().index[0])

### join events info to get more features

In [4]:
file_name = 'events.csv'
s3 = boto3.client('s3')
obj = s3.get_object(Bucket=bucket_name, Key=file_name) # S3 uses key-value structure where key is your file name
event = pd.read_csv(obj['Body'])
event.head()

,app_id,session_id,event,event_timestamp,event_value,user_id_hash
0,4724682771660800,5558845121177764917,45,1542215397132,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,4724682771660800,5558845121177764917,45,1542215484895,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,4724682771660800,7689508378645584666,.m5100869650219008,1541124410372,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,4724682771660800,2201961907282901522,4,1543713091129,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,4724682771660800,2201961907282901522,6,1543713093116,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [5]:
purchase_event = event[event['event']=='8']

In [6]:
last_purchase_time = purchase_event.groupby('session_id', as_index=False).event_timestamp.max().rename(columns={'event_timestamp':'last_purchase_time'})
df_event = purchase_event.groupby('session_id',as_index=False).app_id.count().rename(columns={'app_id':'purchase_counts'})
purchase_time = purchase_event.groupby('session_id',as_index=False).event_timestamp.median().rename(columns={'event_timestamp':'purchase_time'})
total_amount = purchase_event.groupby('session_id', as_index=False).event_value.sum().rename(columns={'event_value':'total_amount'})

In [7]:
# get session level purchase count and purchase time info
df_event2 = pd.merge(df_event, purchase_time, how='left', on=['session_id'])
df_event2 = pd.merge(df_event2, last_purchase_time, how='left', on=['session_id'])
df_event2 = pd.merge(df_event2, total_amount, how='left', on=['session_id'])

In [8]:
df_event2.head()

,session_id,purchase_counts,purchase_time,last_purchase_time,total_amount
0,44097414271980,1,1543345213863,1543345213863,13.993
1,139239025219926,1,1543896256185,1543896256185,3.493
2,198661066907208,1,1543274061363,1543274061363,3.493
3,277838121971337,1,1540754187045,1540754187045,3.493
4,330581615202681,1,1541774849854,1541774849854,1.393

In [9]:
# based on session train dataframe join event train, thus we only get info before Dec
df_test2 = pd.merge(df_test,df_event2, how='left', on=['session_id'])

In [ ]:
# user purchase count
test_feature['purchase_counts'] = test_feature.user_id_hash.map(df_test2.groupby('user_id_hash').purchase_counts.sum())

In [45]:
df_test2['purchase_time'] = pd.to_datetime(df_test2.purchase_time + df_test2.timezone_offset, unit='ms')

In [46]:
df_test2['purchase_dow'] = df_test2.purchase_time.dt.dayofweek
df_test2['purchase_hour'] = df_test2.purchase_time.dt.hour

In [34]:
# most frequent purchase dow / hour
test_feature['most_frequent_purchase_dow'] = test_feature.user_id_hash.map(df_test2[df_test2.purchase_counts>0].groupby('user_id_hash').purchase_dow.agg(lambda x: x.value_counts().index[0]))
test_feature.most_frequent_purchase_dow = train_feature.most_frequent_purchase_dow.fillna(7)

,session_id,timezone,timezone_offset,previous_sessions_duration,is_user_first_session,is_session,country,region,city,latitude,...,device_id,user_id_hash,start_dow,start_hour,start_date,create_date,create_session_time,label,event_timestamp,purchase_time
0,5558845121177764917,Asia/Manila,28800000.0,25837591,False,True,PH,00,makati,14.554729,...,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,3,1,2018-11-15,2018-10-07,39,0.0,NaN,NaT
1,2201961907282901522,Asia/Manila,28800000.0,35050130,False,True,PH,00,quezon city,14.676041,...,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,9,2018-12-02,2018-10-07,56,0.0,NaN,NaT
2,18781111175537580,Asia/Manila,28800000.0,11343848,False,True,PH,00,makati,14.554729,...,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,3,7,2018-10-11,2018-10-07,4,0.0,NaN,NaT
3,1477540082628742048,Asia/Manila,28800000.0,13499724,False,True,PH,11,davao city,7.190708,...,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,19,2018-10-21,2018-10-07,14,0.0,NaN,NaT
4,8184875317380844086,Asia/Manila,28800000.0,32788010,False,True,PH,00,makati,14.554729,...,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,1,7,2018-11-20,2018-10-07,44,NaN,NaN,NaT

In [41]:
test_feature['most_frequent_purchase_hour'] = test_feature.user_id_hash.map(df_test2[df_test2.purchase_counts>0].groupby('user_id_hash').purchase_hour.agg(lambda x: x.value_counts().index[0]))
test_feature.most_frequent_purchase_hour = test_feature.most_frequent_purchase_hour.fillna(24)

In [44]:
test_feature['purchase_perc'] = test_feature.purchase_counts/test_feature.session_count

In [47]:
test_feature['total_amount']= test_feature.user_id_hash.map(df_test2.groupby('user_id_hash').total_amount.sum())

In [48]:
df_test2 ['pred_time'] = '2018-12-15'
df_test2 ['pred_time'] = pd.to_datetime(df_test2 ['pred_time'])
df_test2 ['date_interval'] = df_test2['pred_time']-df_test2['purchase_time']
df_test2.date_interval = df_test2.date_interval.fillna('100 days')
df_test2['last_purchase_time'] = df_test2.date_interval.apply(lambda x: int(str(x).split(' ')[0]))

In [49]:
test_feature['last_purchase_time'] = test_feature.user_id_hash.map(df_test2.groupby('user_id_hash').last_purchase_time.min())

In [50]:
test_feature['purchase_counts'] = test_feature['purchase_counts'].fillna(0)
test_feature['total_amount'] = test_feature['total_amount'].fillna(0)

In [ ]:
test_feature['cost_per_purchase'] = (test_feature.total_amount+1).div((test_feature.purchase_counts+1))

### geographic

* most frequent country/region/city

In [12]:
df_test2.country = df_test2.country.fillna(df_test2['country'].value_counts().index[0])
df_test2.region = df_test2.region.fillna(df_test2['region'].value_counts().index[0])
df_test2.city = df_test2.city.fillna(df_test2['city'].value_counts().index[0])

In [13]:
test_feature['most_freq_country'] = test_feature.user_id_hash.map(df_test2.groupby('user_id_hash').country.agg(lambda x: x.value_counts().index[0]))
test_feature['most_freq_region'] = test_feature.user_id_hash.map(df_test2.groupby('user_id_hash').region.agg(lambda x: x.value_counts().index[0]))
test_feature['most_freq_city'] = test_feature.user_id_hash.map(df_test2.groupby('user_id_hash').city.agg(lambda x: x.value_counts().index[0]))

In [14]:
country_mean_purchase_perc = df_test2.groupby('country').purchase_counts.sum()/df_test2.country.value_counts()
test_feature['country_mean_purchase_perc'] = test_feature["most_freq_country"].map(country_mean_purchase_perc)
test_feature.country_mean_purchase_perc = test_feature.country_mean_purchase_perc.fillna(0)

### device info

In [16]:
df_test2.os_name = ['iOS' if x=='iPhone OS' else x for x in df_test2['os_name']]

In [17]:
df_test2.os_name = df_test2.os_name.fillna(df_test2['os_name'].value_counts().index[0])
test_feature['most_freq_os'] = test_feature.user_id_hash.map(df_test2.groupby('user_id_hash').os_name.agg(lambda x: x.value_counts().index[0]))

In [19]:
os_mean_purchase_perc = df_test2.groupby('os_name').purchase_counts.sum()/df_test2.os_name.value_counts()
test_feature['os_mean_purchase_perc'] = test_feature["most_freq_os"].map(os_mean_purchase_perc)
test_feature.os_mean_purchase_perc = test_feature.os_mean_purchase_perc.fillna(0)

### label encoding

* Use label encoding encode categorical columns

In [20]:
pd.isnull(test_feature).any()

user_id_hash                   False
most_freq_dow                  False
most_freq_hour                 False
median_create_session_time     False
session_count                  False
session_durations              False
mean_session_durations         False
mean_session_interval          False
most_freq_country               True
most_freq_region                True
most_freq_city                  True
most_freq_os                    True
purchase_counts                False
most_frequent_purchase_dow     False
most_frequent_purchase_hour    False
purchase_perc                  False
total_amount                   False
session_per_active_day         False
purchase_per_active_day        False
session_per_day                False
purchase_per_day               False
user_entropy                   False
last_session_time              False
last_purchase_time             False
country_mean_purchase_perc     False
os_mean_purchase_perc          False
dtype: bool

In [21]:
# fillna by most frequentist value
cols = list(test_feature.columns)
for col in cols:
    test_feature[col] = test_feature[col].fillna(test_feature[col].value_counts().index[0])

In [22]:
import numpy as np
cols = list(test_feature.columns)
for col in cols:
    test_feature[col].replace(np.inf, 0, inplace=True)

In [23]:
from sklearn.preprocessing import LabelEncoder
cols = ['most_freq_country', 'most_freq_region', 'most_freq_city', 'most_freq_os']
for col in cols:
    encoder = LabelEncoder()
    test_feature[col] = encoder.fit_transform(test_feature[col])

In [24]:
test_feature.head()

,user_id_hash,most_freq_dow,most_freq_hour,median_create_session_time,session_count,session_durations,mean_session_durations,mean_session_interval,most_freq_country,most_freq_region,...,total_amount,session_per_active_day,purchase_per_active_day,session_per_day,purchase_per_day,user_entropy,last_session_time,last_purchase_time,country_mean_purchase_perc,os_mean_purchase_perc
0,e469dfaed039ead9110165d9bc457acb11609ca34057dc...,5.0,10.0,0.5,2.0,713088.0,356544.0,0.250000,206,193,...,0.0,1.0,0.0,2.000000,0.0,0.693147,49.0,100.0,0.076365,0.087887
1,afcc639a324b6c598ef83d360450afa011cb2dd1358bf9...,3.0,19.0,1.0,1.0,1717320.0,1717320.0,1.000000,139,300,...,0.0,0.5,0.0,0.500000,0.0,0.693147,23.0,100.0,0.016374,0.033249
2,fd5a7cf211d08e3e00f7be6a9df6e6ea3d2e5c22a5d9c3...,6.0,18.0,8.0,3.0,3041967.0,1013989.0,2.666667,206,625,...,0.0,1.0,0.0,0.300000,0.0,1.609438,39.0,100.0,0.076365,0.033249
3,00bfff98b9d0329f014c2eeac7ce47cd18b2bc6e10d608...,5.0,12.0,2.0,10.0,92005829.0,9200582.9,0.200000,219,291,...,0.0,2.5,0.0,0.526316,0.0,2.302585,32.0,100.0,0.003304,0.033249
4,0d298f3638c43e915c119d4935e1ce8d168f81b5e3e8c1...,6.0,8.0,1.0,1.0,10441.0,10441.0,1.000000,170,113,...,0.0,0.5,0.0,0.500000,0.0,0.693147,62.0,100.0,0.004016,0.033249

In [25]:
test_feature.to_csv('feature_eng/test_feature2.csv', index=False)