In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
import os
import boto3

/Users/minchenwang/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

### Import Data

In [ ]:
bucket_name = 'advanced-ml-project' # Add your bucket name
file_name = 'train_dataset2.csv'
s3 = boto3.client('s3')
obj = s3.get_object(Bucket=bucket_name, Key=file_name) # S3 uses key-value structure where key is your file name
df = pd.read_csv(obj['Body'])

In [32]:
bucket_name = 'advanced-ml-project' # Add your bucket name
file_name = 'test_feature2.csv'
s3 = boto3.client('s3')
obj = s3.get_object(Bucket=bucket_name, Key=file_name) # S3 uses key-value structure where key is your file name
test = pd.read_csv(obj['Body'])

In [93]:
df = pd.read_csv('../train_dataset2.csv')

In [94]:
len(df)

619706

In [95]:
test = pd.read_csv('../test_feature2.csv')

In [96]:
df.head()

,user_id_hash,most_freq_dow,most_freq_hour,median_create_session_time,session_count,session_durations,mean_session_durations,mean_session_interval,most_freq_country,most_freq_region,...,purchase_per_day,user_entropy,last_session_time,last_purchase_time,country_mean_purchase_perc,os_mean_purchase_perc,cost_per_purchase,attr_11,user_purchase_binary_7_days,user_purchase_binary_14_days
0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,6,7,36.0,46,938183565,2.039529e+07,0.782609,162,0,...,0.018519,3.828641,1,19,0.005269,0.028374,2.2465,3.49,0.0,0.0
1,43f75f8042d3c80c45e222bdd09267f4584684c54d6fae...,5,23,0.0,3,6074816,2.024939e+06,0.000000,69,281,...,0.000000,1.098612,20,100,0.060754,0.078831,1.0000,0.01,0.0,0.0
2,999524249720812f2d8c0390293efd58e1ac84d587a01c...,2,22,0.0,1,0,0.000000e+00,0.000000,210,299,...,0.000000,0.000000,45,100,0.068370,0.078831,1.0000,0.00,0.0,0.0
3,4e6bc35cf7fd79a5312047651e7865915f4a6bec193cf2...,3,15,2.0,1,596967,5.969670e+05,2.000000,94,162,...,0.000000,0.693147,9,100,0.004529,0.028374,1.0000,0.00,0.0,0.0
4,dc009148ee26d658e0240c7b7f6a258790a457737f96e8...,2,2,0.5,1,97482,9.748200e+04,0.500000,11,494,...,0.000000,0.693147,38,100,0.067344,0.028374,1.0000,0.00,0.0,0.0

In [97]:
df.user_purchase_binary_14_days.value_counts()

0.0    613607
1.0      6099
Name: user_purchase_binary_14_days, dtype: int64

In [98]:
df.user_purchase_binary_7_days.value_counts()

0.0    614996
1.0      4710
Name: user_purchase_binary_7_days, dtype: int64

In [99]:
test.head()

,user_id_hash,most_freq_dow,most_freq_hour,median_create_session_time,session_count,session_durations,mean_session_durations,mean_session_interval,most_freq_country,most_freq_region,...,purchase_per_active_day,session_per_day,purchase_per_day,user_entropy,last_session_time,last_purchase_time,country_mean_purchase_perc,os_mean_purchase_perc,cost_per_purchase,attr_11
0,e469dfaed039ead9110165d9bc457acb11609ca34057dc...,5.0,10.0,0.5,2.0,713088.0,356544.0,0.250000,206,193,...,0.0,2.000000,0.0,0.693147,49.0,100.0,0.076365,0.087887,1.0,0.00
1,afcc639a324b6c598ef83d360450afa011cb2dd1358bf9...,3.0,19.0,1.0,1.0,1717320.0,1717320.0,1.000000,139,300,...,0.0,0.500000,0.0,0.693147,23.0,100.0,0.016374,0.033249,1.0,1.39
2,fd5a7cf211d08e3e00f7be6a9df6e6ea3d2e5c22a5d9c3...,6.0,18.0,8.0,3.0,3041967.0,1013989.0,2.666667,206,625,...,0.0,0.300000,0.0,1.609438,39.0,100.0,0.076365,0.033249,1.0,0.00
3,00bfff98b9d0329f014c2eeac7ce47cd18b2bc6e10d608...,5.0,12.0,2.0,10.0,92005829.0,9200582.9,0.200000,219,291,...,0.0,0.526316,0.0,2.302585,32.0,100.0,0.003304,0.033249,1.0,0.08
4,0d298f3638c43e915c119d4935e1ce8d168f81b5e3e8c1...,6.0,8.0,1.0,1.0,10441.0,10441.0,1.000000,170,113,...,0.0,0.500000,0.0,0.693147,62.0,100.0,0.004016,0.033249,1.0,0.00

In [100]:
x= df.iloc[:,1:-2]

In [101]:
x.head()

,most_freq_dow,most_freq_hour,median_create_session_time,session_count,session_durations,mean_session_durations,mean_session_interval,most_freq_country,most_freq_region,most_freq_city,...,purchase_per_active_day,session_per_day,purchase_per_day,user_entropy,last_session_time,last_purchase_time,country_mean_purchase_perc,os_mean_purchase_perc,cost_per_purchase,attr_11
0,6,7,36.0,46,938183565,2.039529e+07,0.782609,162,0,13840,...,0.055556,0.851852,0.018519,3.828641,1,19,0.005269,0.028374,2.2465,3.49
1,5,23,0.0,3,6074816,2.024939e+06,0.000000,69,281,22738,...,0.000000,3.000000,0.000000,1.098612,20,100,0.060754,0.078831,1.0000,0.01
2,2,22,0.0,1,0,0.000000e+00,0.000000,210,299,3615,...,0.000000,0.000000,0.000000,0.000000,45,100,0.068370,0.078831,1.0000,0.00
3,3,15,2.0,1,596967,5.969670e+05,2.000000,94,162,8967,...,0.000000,0.250000,0.000000,0.693147,9,100,0.004529,0.028374,1.0000,0.00
4,2,2,0.5,1,97482,9.748200e+04,0.500000,11,494,22898,...,0.000000,1.000000,0.000000,0.693147,38,100,0.067344,0.028374,1.0000,0.00

In [102]:
y = df.iloc[:,-2:]

In [103]:
y.head()

   user_purchase_binary_7_days  user_purchase_binary_14_days
0                          0.0                           0.0
1                          0.0                           0.0
2                          0.0                           0.0
3                          0.0                           0.0
4                          0.0                           0.0

In [104]:
y.user_purchase_binary_7_days.value_counts()

0.0    614996
1.0      4710
Name: user_purchase_binary_7_days, dtype: int64

In [105]:
y_7_days = y.user_purchase_binary_7_days
y_14_days = y.user_purchase_binary_14_days

### Train Validation Split

In [73]:
from sklearn.model_selection import train_test_split

In [74]:
x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size=0.2, random_state=42)

In [75]:
x_train.head()

,most_freq_dow,most_freq_hour,median_create_session_time,session_count,session_durations,mean_session_durations,mean_session_interval,most_freq_country,most_freq_region,most_freq_city,...,purchase_per_active_day,session_per_day,purchase_per_day,user_entropy,last_session_time,last_purchase_time,country_mean_purchase_perc,os_mean_purchase_perc,cost_per_purchase,attr_11
22548,6,20,0.5,4,4444584,1.111146e+06,0.125000,210,432,2833,...,0.0,0.20,0.0,1.386294,35,100,0.068370,0.078831,1.0,0.00
380579,5,7,0.0,3,636136,2.120453e+05,0.000000,210,509,25241,...,0.0,0.00,0.0,1.098612,28,100,0.068370,0.028374,1.0,0.00
150378,3,15,1.0,6,19939709,3.323285e+06,0.166667,208,42,5998,...,0.0,3.00,0.0,1.945910,8,100,0.012514,0.078831,1.0,0.01
49093,2,2,1.0,1,74710,7.471000e+04,1.000000,210,439,17323,...,0.0,0.50,0.0,0.693147,15,100,0.068370,0.078831,1.0,0.00
503757,0,23,1.0,7,14560355,2.080051e+06,0.142857,67,302,19381,...,0.0,1.75,0.0,2.079442,16,100,0.029013,0.028374,1.0,0.01

In [76]:
y_train.head()

        user_purchase_binary_7_days  user_purchase_binary_14_days
22548                           0.0                           0.0
380579                          0.0                           0.0
150378                          0.0                           0.0
49093                           0.0                           0.0
503757                          0.0                           0.0

In [77]:
len(x_train)

495764

In [78]:
len(x_valid)

123942

In [79]:
y_train_7_days = y_train.iloc[:,:1]
y_train_14_days = y_train.iloc[:,-1]

In [80]:
y_valid_7_days = y_valid.iloc[:,:1]
y_valid_14_days = y_valid.iloc[:,-1]

In [81]:
y_train_7_days.user_purchase_binary_7_days.value_counts()

0.0    491964
1.0      3800
Name: user_purchase_binary_7_days, dtype: int64

In [82]:
y_train_14_days.value_counts()

0.0    490817
1.0      4947
Name: user_purchase_binary_14_days, dtype: int64

In [83]:
x_test = test.iloc[:,1:]

In [84]:
x_test.head()

,most_freq_dow,most_freq_hour,median_create_session_time,session_count,session_durations,mean_session_durations,mean_session_interval,most_freq_country,most_freq_region,most_freq_city,...,purchase_per_active_day,session_per_day,purchase_per_day,user_entropy,last_session_time,last_purchase_time,country_mean_purchase_perc,os_mean_purchase_perc,cost_per_purchase,attr_11
0,5.0,10.0,0.5,2.0,713088.0,356544.0,0.250000,206,193,5214,...,0.0,2.000000,0.0,0.693147,49.0,100.0,0.076365,0.087887,1.0,0.000000
1,3.0,19.0,1.0,1.0,1717320.0,1717320.0,1.000000,139,300,17896,...,0.0,0.500000,0.0,0.693147,23.0,100.0,0.016374,0.033249,1.0,1.390000
2,6.0,18.0,8.0,3.0,3041967.0,1013989.0,2.666667,206,625,5169,...,0.0,0.300000,0.0,1.609438,39.0,100.0,0.076365,0.033249,1.0,0.000000
3,5.0,12.0,2.0,10.0,92005829.0,9200582.9,0.200000,219,291,7059,...,0.0,0.526316,0.0,2.302585,32.0,100.0,0.003304,0.033249,1.0,0.038571
4,6.0,8.0,1.0,1.0,10441.0,10441.0,1.000000,170,113,13326,...,0.0,0.500000,0.0,0.693147,62.0,100.0,0.004016,0.033249,1.0,0.000000

### Tune hyperparameter

In [25]:
# for 7 days

In [55]:
from sklearn.model_selection import ParameterGrid
param_grid = {'n_estimators': [70,100], 'min_samples_leaf': [50,100], 'max_depth':[7,10], 'class_weight':['balanced',None]}

In [ ]:
from sklearn.metrics import roc_auc_score
rf = RandomForestClassifier()
best_auc = 0.9
train_auc = 0
for g in ParameterGrid(param_grid):
    rf.set_params(**g,random_state=42, verbose=3, n_jobs=-1)
    rf.fit(x_train,y_train_7_days)
    # save if best
    valid_predict = rf.predict_proba(x_valid)
    valid_auc = roc_auc_score(y_valid_7_days,valid_predict[:,-1])
    if valid_auc > best_auc:
        train_predict = rf.predict_proba(x_train)
        train_auc = roc_auc_score(y_train_7_days,train_predict[:,-1])
        best_auc = valid_auc
        best_grid = g

print ("Train_auc: %04f" %train_auc)
print ("Valid_auc: %04f" %best_auc)
print ("Grid: {}".format(best_grid))

In [85]:
from sklearn.metrics import roc_auc_score
model = RandomForestClassifier(random_state = 42,n_jobs =-1, verbose=3, max_depth=15, 
                               min_samples_leaf=50, n_estimators=100)
model.fit(x_train,y_train_7_days)
valid_pred = model.predict_proba(x_valid)
roc_auc_score(y_valid_7_days,valid_pred[:,-1])

/Users/minchenwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

building tree 1 of 100building tree 2 of 100building tree 3 of 100building tree 4 of 100



building tree 5 of 100
building tree 6 of 100
building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    7.5s

building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   31.7s finished
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.5s finished

0.9962042752747611

In [86]:
import pandas as pd
feature_importances = pd.DataFrame(model.feature_importances_,
                                   index = x_train.columns,
                                   columns=['importance']).sort_values('importance',ascending=False)

In [87]:
feature_importances

                             importance
last_purchase_time             0.355596
attr_11                        0.184433
last_session_time              0.150096
purchase_per_day               0.050866
total_amount                   0.044200
cost_per_purchase              0.028633
purchase_counts                0.024190
session_durations              0.020917
purchase_perc                  0.016852
session_count                  0.016478
most_frequent_purchase_hour    0.014280
mean_session_durations         0.013847
user_entropy                   0.013652
purchase_per_active_day        0.013169
session_per_day                0.010662
session_per_active_day         0.009337
median_create_session_time     0.008621
most_frequent_purchase_dow     0.006208
mean_session_interval          0.004019
most_freq_city                 0.003116
most_freq_region               0.002514
most_freq_hour                 0.002435
most_freq_dow                  0.002008
country_mean_purchase_perc     0.001269
most_freq_country              0.000998
os_mean_purchase_perc          0.000854
most_freq_os                   0.000749

In [ ]:
param_grid = {'n_estimators': [100, 50], 'min_samples_leaf': [30,70], 'max_depth':[7,10], 'class_weight':['balanced',None]}

In [ ]:
from sklearn.metrics import roc_auc_score
rf = RandomForestClassifier()
best_auc = 0.9
train_auc = 0
for g in ParameterGrid(param_grid):
    rf.set_params(**g,random_state=42, verbose=3, n_jobs=-1)
    rf.fit(x_train,y_train_14_days)
    # save if best
    valid_predict = rf.predict_proba(x_valid)
    valid_auc = roc_auc_score(y_valid_14_days,valid_predict[:,-1])
    if valid_auc > best_auc:
        train_predict = rf.predict_proba(x_train)
        train_auc = roc_auc_score(y_train_14_days,train_predict[:,-1])
        best_auc = valid_auc
        best_grid = g

print ("Train_auc: %04f" %train_auc)
print ("Valid_auc: %04f" %best_auc)
print ("Grid: {}".format(best_grid))

In [88]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
model2 = RandomForestClassifier(random_state = 42,n_jobs =-1, verbose=3, max_depth=10, 
                               min_samples_leaf=100, n_estimators=70)
model2.fit(x_train,y_train_14_days)
valid_pred2= model2.predict_proba(x_valid)
roc_auc_score(y_valid_14_days,valid_pred2[:,-1])

building tree 1 of 70building tree 2 of 70building tree 3 of 70

building tree 4 of 70

building tree 5 of 70
building tree 6 of 70
building tree 7 of 70
building tree 8 of 70
building tree 9 of 70
building tree 10 of 70building tree 11 of 70

building tree 12 of 70
building tree 13 of 70
building tree 14 of 70
building tree 15 of 70
building tree 16 of 70
building tree 17 of 70
building tree 18 of 70building tree 19 of 70

building tree 20 of 70
building tree 21 of 70
building tree 22 of 70
building tree 23 of 70
building tree 24 of 70
building tree 25 of 70
building tree 26 of 70
building tree 27 of 70

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    9.6s

building tree 28 of 70
building tree 29 of 70
building tree 30 of 70
building tree 31 of 70
building tree 32 of 70
building tree 33 of 70
building tree 34 of 70
building tree 35 of 70
building tree 36 of 70
building tree 37 of 70
building tree 38 of 70
building tree 39 of 70
building tree 40 of 70
building tree 41 of 70
building tree 42 of 70
building tree 43 of 70
building tree 44 of 70
building tree 45 of 70
building tree 46 of 70
building tree 47 of 70
building tree 48 of 70
building tree 49 of 70
building tree 50 of 70
building tree 51 of 70
building tree 52 of 70
building tree 53 of 70
building tree 54 of 70
building tree 55 of 70
building tree 56 of 70
building tree 57 of 70
building tree 58 of 70
building tree 59 of 70
building tree 60 of 70
building tree 61 of 70
building tree 62 of 70
building tree 63 of 70
building tree 64 of 70
building tree 65 of 70
building tree 66 of 70
building tree 67 of 70
building tree 68 of 70
building tree 69 of 70
building tree 70 of 70

[Parallel(n_jobs=-1)]: Done  70 out of  70 | elapsed:   25.3s finished
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done  70 out of  70 | elapsed:    0.3s finished

0.9957939353887849

In [68]:
import pandas as pd
feature_importances = pd.DataFrame(model2.feature_importances_,
                                   index = x_train.columns,
                                    columns=['importance']).sort_values('importance',ascending=False)

In [69]:
feature_importances

                             importance
last_purchase_time             0.398638
last_session_time              0.196118
purchase_per_day               0.076019
user_time_entropy              0.063711
purchase_counts                0.047389
total_amount                   0.042425
cost_per_purchase              0.031071
most_frequent_purchase_hour    0.024007
purchase_perc                  0.017078
purchase_per_active_day        0.016892
median_create_session_time     0.014741
session_durations              0.012082
most_frequent_purchase_dow     0.009423
session_per_day                0.008607
mean_session_durations         0.007775
session_count                  0.006895
session_per_active_day         0.005850
user_entropy                   0.005457
mean_session_interval          0.003794
most_freq_city                 0.002345
most_freq_dow                  0.002182
country_mean_purchase_perc     0.001976
most_freq_region               0.001721
most_freq_hour                 0.001695
most_freq_country              0.001109
os_mean_purchase_perc          0.000586
most_freq_os                   0.000413

### Fit All data and predict on test

In [106]:
# 7 days 
rf_7days = RandomForestClassifier(random_state = 42,n_jobs =-1, verbose=3, max_depth=15, 
                               min_samples_leaf=50, n_estimators=100, class_weight = 'balanced')
rf_7days.fit(x.values,y_7_days.values.ravel())
y_7_days_pred = rf_7days.predict_proba(x_test)

building tree 1 of 100building tree 2 of 100building tree 3 of 100building tree 4 of 100



building tree 5 of 100
building tree 6 of 100
building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    9.5s

building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   35.2s finished
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:    0.3s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    1.1s finished

In [107]:
feature_importances = pd.DataFrame(rf_7days.feature_importances_,
                                   index = x.columns,
                                   columns=['importance']).sort_values('importance',ascending=False)
feature_importances

                             importance
attr_11                        0.350992
last_purchase_time             0.117680
last_session_time              0.080412
cost_per_purchase              0.071068
purchase_perc                  0.058677
purchase_counts                0.049930
most_frequent_purchase_hour    0.038546
purchase_per_day               0.036568
purchase_per_active_day        0.035651
total_amount                   0.032076
session_durations              0.028530
most_frequent_purchase_dow     0.021025
session_per_active_day         0.015238
session_count                  0.011654
user_entropy                   0.009068
session_per_day                0.007285
country_mean_purchase_perc     0.007176
mean_session_durations         0.004950
median_create_session_time     0.004569
mean_session_interval          0.003246
most_freq_region               0.003190
most_freq_dow                  0.002993
most_freq_city                 0.002910
most_freq_hour                 0.002748
most_freq_country              0.002140
os_mean_purchase_perc          0.000962
most_freq_os                   0.000716

In [108]:
# 14 days 
rf_14days = RandomForestClassifier(random_state = 42,n_jobs =-1, verbose=3, max_depth=10, 
                               min_samples_leaf=100, n_estimators=70, class_weight = 'balanced')
rf_14days.fit(x.values,y_14_days.values.ravel())
y_14_days_pred = rf_14days.predict_proba(x_test)

building tree 1 of 70building tree 2 of 70building tree 3 of 70building tree 4 of 70



building tree 5 of 70
building tree 6 of 70
building tree 7 of 70
building tree 8 of 70
building tree 9 of 70
building tree 10 of 70
building tree 11 of 70
building tree 12 of 70
building tree 13 of 70
building tree 14 of 70
building tree 15 of 70
building tree 16 of 70
building tree 17 of 70
building tree 18 of 70
building tree 19 of 70
building tree 20 of 70
building tree 21 of 70
building tree 22 of 70
building tree 23 of 70
building tree 24 of 70
building tree 25 of 70
building tree 26 of 70
building tree 27 of 70
building tree 28 of 70

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    7.9s

building tree 29 of 70
building tree 30 of 70
building tree 31 of 70
building tree 32 of 70
building tree 33 of 70
building tree 34 of 70
building tree 35 of 70
building tree 36 of 70
building tree 37 of 70
building tree 38 of 70
building tree 39 of 70
building tree 40 of 70
building tree 41 of 70
building tree 42 of 70
building tree 43 of 70
building tree 44 of 70
building tree 45 of 70
building tree 46 of 70
building tree 47 of 70
building tree 48 of 70
building tree 49 of 70
building tree 50 of 70
building tree 51 of 70
building tree 52 of 70
building tree 53 of 70
building tree 54 of 70
building tree 55 of 70
building tree 56 of 70
building tree 57 of 70
building tree 58 of 70
building tree 59 of 70
building tree 60 of 70
building tree 61 of 70
building tree 62 of 70
building tree 63 of 70
building tree 64 of 70
building tree 65 of 70
building tree 66 of 70
building tree 67 of 70
building tree 68 of 70
building tree 69 of 70
building tree 70 of 70

[Parallel(n_jobs=-1)]: Done  70 out of  70 | elapsed:   21.6s finished
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done  70 out of  70 | elapsed:    0.6s finished

In [109]:
user = test.user_id_hash

In [110]:
d = {'user_id_hash': user, 'user_purchase_binary_7_days': y_7_days_pred[:,-1], 'user_purchase_binary_14_days': y_14_days_pred[:,-1]}

In [111]:
predictions = pd.DataFrame(data=d)

In [112]:
predictions.head()

,user_id_hash,user_purchase_binary_7_days,user_purchase_binary_14_days
0,e469dfaed039ead9110165d9bc457acb11609ca34057dc...,0.002817,0.017847
1,afcc639a324b6c598ef83d360450afa011cb2dd1358bf9...,0.073821,0.223844
2,fd5a7cf211d08e3e00f7be6a9df6e6ea3d2e5c22a5d9c3...,0.000000,0.020485
3,00bfff98b9d0329f014c2eeac7ce47cd18b2bc6e10d608...,0.003461,0.011580
4,0d298f3638c43e915c119d4935e1ce8d168f81b5e3e8c1...,0.000000,0.000348

In [113]:
predictions.to_csv('../submission.csv', index=False)